<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    
    <div id="piano">
      <div class="piano-key white"></div>
      <div class="piano-key white"></div>
      <div class="piano-key white"></div>
    </div>

    <!-- Audio Section-->

    <a id="middleC">
    <!-- AudioFiles Section http://pianosounds.pixelass.com/tones/grand-piano/ -->
      <div id="pianoStrings">
        <audio id="tone-00A" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/00A.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/00A.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-00As" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/00As.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/00As.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-00B" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/00B.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/00B.mp3" type="audio/mpeg">
        </audio>        
        <audio id="tone-0C" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0C.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0C.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-0Cs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0Cs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0Cs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-0D" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0D.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0D.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-0Ds" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0Ds.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0Ds.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-0E" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0E.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0E.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-0F" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0F.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0F.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-0Fs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0Fs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0Fs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-0G" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0G.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0G.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-0Gs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0Gs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0Gs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-0A" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0A.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0A.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-0As" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0As.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0As.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-0B" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0B.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/0B.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1C" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1C.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1C.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1Cs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1Cs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1Cs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1D" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1D.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1D.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1Ds" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1Ds.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1Ds.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1E" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1E.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1E.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1F" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1F.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1F.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1Fs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1Fs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1Fs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1G" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1G.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1G.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1Gs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1Gs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1Gs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1A" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1A.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1A.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1As" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1As.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1As.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-1B" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1B.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/1B.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2C" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2C.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2C.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2Cs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2Cs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2Cs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2D" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2D.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2D.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2Ds" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2Ds.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2Ds.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2E" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2E.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2E.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2F" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2F.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2F.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2Fs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2Fs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2Fs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2G" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2G.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2G.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2Gs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2Gs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2Gs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2A" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2A.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2A.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2As" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2As.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2As.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-2B" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2B.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/2B.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3C" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3C.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3C.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3Cs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Cs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Cs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3D" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3D.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3D.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3Ds" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Ds.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Ds.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3E" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3E.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3E.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3F" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3F.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3F.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3Fs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Fs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Fs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3G" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3G.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3G.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3Gs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Gs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Gs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3A" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3A.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3A.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3As" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3As.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3As.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3B" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3B.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3B.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4C" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4C.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4C.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4Cs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4Cs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4Cs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4D" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4D.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4D.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4Ds" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4Ds.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4Ds.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4E" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4E.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4E.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4F" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4F.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4F.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4Fs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4Fs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4Fs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4G" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4G.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4G.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4Gs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4Gs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4Gs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4A" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4A.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4A.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4As" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4As.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4As.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-4B" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4B.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/4B.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5C" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5C.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5C.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5Cs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5Cs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5Cs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5D" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5D.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5D.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5Ds" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5Ds.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5Ds.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5E" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5E.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5E.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5F" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5F.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5F.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5Fs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5Fs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5Fs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5G" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5G.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5G.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5Gs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5Gs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5Gs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5A" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5A.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5A.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5As" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5As.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5As.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-5B" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5B.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/5B.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6C" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6C.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6C.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6Cs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6Cs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6Cs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6D" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6D.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6D.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6Ds" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6Ds.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6Ds.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6E" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6E.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6E.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6F" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6F.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6F.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6Fs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6Fs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6Fs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6G" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6G.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6G.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6Gs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6Gs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6Gs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6A" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6A.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6A.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6As" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6As.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6As.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-6B" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6B.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/6B.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-7C" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/7C.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/7C.mp3" type="audio/mpeg">
        </audio>
      </div>
    
    </a>
    
    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="style/style.css">

    <!-- Scripts -->
    <script type="text/javascript" src="lib/jquery-1.9.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/piano.js"></script>
  </body>
</html>