<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    
    <div id="piano">
      <div class="piano-key white"></div>
      <div class="piano-key white"></div>
      <div class="piano-key white"></div>
    </div>

    <!-- Audio Section-->

    <a id="middleC">
    <!-- AudioFiles Section http://pianosounds.pixelass.com/tones/grand-piano/ -->
      <div id="pianoStrings">
        
        
        <audio id="tone-3C" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3C.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3C.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3Cs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Cs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Cs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3D" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3D.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3D.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3Ds" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Ds.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Ds.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3E" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3E.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3E.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3F" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3F.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3F.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3Fs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Fs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Fs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3G" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3G.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3G.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3Gs" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Gs.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3Gs.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3A" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3A.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3A.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3As" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3As.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3As.mp3" type="audio/mpeg">
        </audio>
        <audio id="tone-3B" preload="auto">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3B.ogg" type="audio/ogg">
          <source src="http://pianosounds.pixelass.com/tones/grand-piano/3B.mp3" type="audio/mpeg">
        </audio>
        
      </div>
    
    </a>
    
    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="style/style.css">

    <!-- Scripts -->
    <script type="text/javascript" src="lib/zepto.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/piano.js"></script>
  </body>
</html>