<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <ul class="thumbnails">
          <li class="thumbnail text-center span1">
            <h2 id="c" class="note">C</h2>
          </li>
          <li class="thumbnail text-center span1 well">
            <h2 id="C" class="note">C#</h2>
          </li>
          <li class="thumbnail text-center span1">
            <h2 id="d" class="note">D</h2>
          </li>
          <li class="thumbnail text-center span1 well">
            <h2 id="D" class="note">D#</h2>
          </li>
          <li class="thumbnail text-center span1">
            <h2 id="e" class="note">E</h2>
          </li>
          <li class="thumbnail text-center span1">
            <h2 id="f" class="note">F</h2>
          </li>
          <li class="thumbnail text-center span1 well">
            <h2 id="F" class="note">F#</h2>
          </li>
          <li class="thumbnail text-center span1">
            <h2 id="g" class="note">G</h2>
          </li>
          <li class="thumbnail text-center span1 well">
            <h2 id="G" class="note">G#</h2>
          </li>
          <li class="thumbnail text-center span1">
            <h2 id="a" class="note">A</h2>
          </li>
          <li class="thumbnail text-center span1 well">
            <h2 id="A" class="note">A#</h2>
          </li>
          <li class="thumbnail text-center span1">
            <h2 id="b" class="note">B</h2>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <form id="song" action="#" class="form-inline">
          <input type="text" id="notes" class="input-xxlarge" placeholder="cCdDefFgGaAb">
          <button class="btn btn-primary">
            <i class="icon-play icon-white"></i>
            Play
          </button>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="lib/zepto.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="js/admin.js"></script>
</body>
</html>